openapi: 3.2.0
info:
  title: JFrog Connect REST Device Groups API
  description: API for managing IoT and edge devices, deploying over-the-air software updates, and monitoring device fleets at scale. JFrog Connect (formerly Upswift) provides a comprehensive platform for managing Linux-based IoT and edge devices.
  version: 2.x
  contact:
    name: JFrog
    url: https://jfrog.com
  license:
    name: Proprietary
    url: https://jfrog.com/terms-of-service/
  termsOfService: https://jfrog.com/terms-of-service/
servers:
- url: https://api.connect.jfrog.io/v2
  description: JFrog Connect Cloud
security:
- apiKeyAuth: []
tags:
- name: Device Groups
  description: Logical grouping of devices
paths:
  /projects/{projectId}/device-groups:
    get:
      operationId: listDeviceGroups
      summary: JFrog List Device Groups
      description: Returns all device groups in a project.
      tags:
      - Device Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      responses:
        '200':
          description: Device groups list
          content:
            application/json:
              schema:
                type: object
                properties:
                  groups:
                    type: array
                    items:
                      $ref: '#/components/schemas/DeviceGroup'
    post:
      operationId: createDeviceGroup
      summary: JFrog Create Device Group
      description: Creates a new device group.
      tags:
      - Device Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeviceGroupRequest'
      responses:
        '201':
          description: Device group created
  /projects/{projectId}/device-groups/{groupId}:
    get:
      operationId: getDeviceGroup
      summary: JFrog Get Device Group
      description: Returns details for a specific device group.
      tags:
      - Device Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      responses:
        '200':
          description: Device group details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceGroup'
    delete:
      operationId: deleteDeviceGroup
      summary: JFrog Delete Device Group
      description: Deletes a device group.
      tags:
      - Device Groups
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: groupId
        in: path
        required: true
        schema:
          type: string
        description: Group ID
      responses:
        '204':
          description: Device group deleted
components:
  schemas:
    DeviceGroupRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        device_ids:
          type: array
          items:
            type: string
      required:
      - name
    DeviceGroup:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        devices_count:
          type: integer
        created_at:
          type: string
          format: date-time
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication using Bearer token format
externalDocs:
  description: JFrog Connect API Documentation
  url: https://docs.connect.jfrog.io/rest-api-v2/connect-api-reference
