openapi: 3.2.0
info:
  title: JFrog Connect REST Updates API
  description: API for managing IoT and edge devices, deploying over-the-air software updates, and monitoring device fleets at scale. JFrog Connect (formerly Upswift) provides a comprehensive platform for managing Linux-based IoT and edge devices.
  version: 2.x
  contact:
    name: JFrog
    url: https://jfrog.com
  license:
    name: Proprietary
    url: https://jfrog.com/terms-of-service/
  termsOfService: https://jfrog.com/terms-of-service/
servers:
- url: https://api.connect.jfrog.io/v2
  description: JFrog Connect Cloud
security:
- apiKeyAuth: []
tags:
- name: Updates
  description: OTA software update deployments
paths:
  /projects/{projectId}/updates:
    get:
      operationId: listUpdates
      summary: JFrog List Updates
      description: Returns a list of all OTA update deployments.
      tags:
      - Updates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: status
        in: query
        schema:
          type: string
          enum:
          - pending
          - in_progress
          - completed
          - failed
          - cancelled
        description: Filter by update status
      responses:
        '200':
          description: Updates list
          content:
            application/json:
              schema:
                type: object
                properties:
                  updates:
                    type: array
                    items:
                      $ref: '#/components/schemas/Update'
    post:
      operationId: createUpdate
      summary: JFrog Create Update
      description: Creates a new OTA software update deployment.
      tags:
      - Updates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateRequest'
      responses:
        '201':
          description: Update created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update'
  /projects/{projectId}/updates/{updateId}:
    get:
      operationId: getUpdate
      summary: JFrog Get Update
      description: Returns details and status for a specific update.
      tags:
      - Updates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: updateId
        in: path
        required: true
        schema:
          type: string
        description: Update ID
      responses:
        '200':
          description: Update details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Update'
  /projects/{projectId}/updates/{updateId}/cancel:
    post:
      operationId: cancelUpdate
      summary: JFrog Cancel Update
      description: Cancels a pending or in-progress update.
      tags:
      - Updates
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: updateId
        in: path
        required: true
        schema:
          type: string
        description: Update ID
      responses:
        '200':
          description: Update cancelled
components:
  schemas:
    UpdateRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        update_type:
          type: string
          enum:
          - file
          - script
          - package
          - docker_compose
        target_devices:
          type: array
          items:
            type: string
        target_groups:
          type: array
          items:
            type: string
        file_path:
          type: string
          description: Path to update file
        destination_path:
          type: string
          description: Destination path on device
        script_content:
          type: string
          description: Script content for script-type updates
        pre_install_script:
          type: string
        post_install_script:
          type: string
        rollback_on_failure:
          type: boolean
          default: false
        schedule:
          type: object
          properties:
            start_at:
              type: string
              format: date-time
            batch_size:
              type: integer
              description: Number of devices to update concurrently
      required:
      - name
      - update_type
    Update:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: string
        status:
          type: string
          enum:
          - pending
          - in_progress
          - completed
          - failed
          - cancelled
        update_type:
          type: string
          enum:
          - file
          - script
          - package
          - docker_compose
        target_devices:
          type: array
          items:
            type: string
        target_groups:
          type: array
          items:
            type: string
        progress:
          type: object
          properties:
            total_devices:
              type: integer
            completed:
              type: integer
            failed:
              type: integer
            pending:
              type: integer
        created_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication using Bearer token format
externalDocs:
  description: JFrog Connect API Documentation
  url: https://docs.connect.jfrog.io/rest-api-v2/connect-api-reference
