openapi: 3.2.0
info:
  title: JFrog Connect REST Commands API
  description: API for managing IoT and edge devices, deploying over-the-air software updates, and monitoring device fleets at scale. JFrog Connect (formerly Upswift) provides a comprehensive platform for managing Linux-based IoT and edge devices.
  version: 2.x
  contact:
    name: JFrog
    url: https://jfrog.com
  license:
    name: Proprietary
    url: https://jfrog.com/terms-of-service/
  termsOfService: https://jfrog.com/terms-of-service/
servers:
- url: https://api.connect.jfrog.io/v2
  description: JFrog Connect Cloud
security:
- apiKeyAuth: []
tags:
- name: Commands
  description: Remote command execution on devices
paths:
  /projects/{projectId}/commands:
    post:
      operationId: executeCommand
      summary: JFrog Execute Remote Command
      description: Executes a command on specified devices.
      tags:
      - Commands
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CommandRequest'
      responses:
        '200':
          description: Command execution initiated
          content:
            application/json:
              schema:
                type: object
                properties:
                  command_id:
                    type: string
                  status:
                    type: string
  /projects/{projectId}/commands/{commandId}:
    get:
      operationId: getCommandStatus
      summary: JFrog Get Command Status
      description: Returns the status and results of a remote command execution.
      tags:
      - Commands
      parameters:
      - name: projectId
        in: path
        required: true
        schema:
          type: string
        description: Project ID
      - name: commandId
        in: path
        required: true
        schema:
          type: string
        description: Command ID
      responses:
        '200':
          description: Command status
          content:
            application/json:
              schema:
                type: object
                properties:
                  command_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - pending
                    - running
                    - completed
                    - failed
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        device_id:
                          type: string
                        status:
                          type: string
                        output:
                          type: string
                        exit_code:
                          type: integer
components:
  schemas:
    CommandRequest:
      type: object
      properties:
        command:
          type: string
          description: The command to execute
        device_ids:
          type: array
          items:
            type: string
        group_ids:
          type: array
          items:
            type: string
        timeout_seconds:
          type: integer
          default: 30
      required:
      - command
  securitySchemes:
    apiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
      description: API key authentication using Bearer token format
externalDocs:
  description: JFrog Connect API Documentation
  url: https://docs.connect.jfrog.io/rest-api-v2/connect-api-reference
